    /* GLOBAL */
    body {
        font-family: 'Segoe UI', sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #e9f3ff, #f5faff);
        color: #2d2d2d;
        font-family: 'Times New Roman', Times, serif;
    }

    /* HEADER */
    header {
        background: linear-gradient(to bottom right, #b7d4ff, #d4e5ff);
        padding: 40px 0;
        text-align: center;
        border-bottom: 2px solid #9fc6ff;
        box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    }

    header h1 {
        text-align: center;
        justify-content: center;
        font-size: 34px;
        font-weight: 700;
        color: #1f5edb;
        margin: 0;
        letter-spacing: 0.6px;
    }

    header h2 {
        margin-top: 8px;
        font-size: 18px;
        color: #4f7ff2;
        font-weight: 500;
    }

    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 900px;
        margin: 35px auto;
    }

    /* KOTAK MATERI */
    .card {
        background: #ffffff;
        padding: 24px 30px;
        border-radius: 18px;
        border-left: 6px solid #5f8eff;
        box-shadow: 0 8px 20px rgba(120, 160, 255, 0.18);
        margin-bottom: 30px;
        transition: 0.25s ease;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 14px 26px rgba(120, 160, 255, 0.25);
    }

    /* JUDUL SUBBAB */
    .card h3 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 700;
        color: #2f6af2;
    }

    /* PARAGRAF  */
    .card p,
    .card ul {
        font-size: 16px;
        line-height: 1.68;
        color: #3a3a3a;
    }

    /* LIST*/
    .card ul li {
        margin-bottom: 8px;
    }

    /* KODE & NOTASI */
    .code {
        background: #e6efff;
        padding: 4px 7px;
        border-radius: 6px;
        font-family: monospace;
        font-size: 15px;
        color: #345bff;
        font-weight: 600;
    }

    /* ========= RESPONSIVE ========= */
    @media (max-width: 600px) {
        header h1 {
            font-size: 26px;
        }

        .card {
            padding: 18px 22px;
        }
    }
